.background {
    background-image: url(./abstract-colorful-design-4k.jpg);
    background-size: cover;
}

.button-old {
    border-radius: .5vw;
    border-color: brown;
    background-color: maroon;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    position: relative;
    /* left: 1vw;
    top: 1vw; */
    width: 8vw;
    height: 4vh;
    margin: .5vw;
    box-shadow: .3vw .3vw .4vw rgba(0, 0, 0, .75);
  }

  .button {
    border-radius: .5vw;
    /* border-color: brown; */
    /* background-color: rgba(0, 0, 0, 0); */

    background-color: rgb(41, 3, 41);
    color: white;
    /* color: rgb(41, 3, 41); */
    font-weight: bold;
    font-size: 1vw;
    position: relative;
    margin-left: 1vw;
    top: 1vw;
    width: 12vw;
    height: 4vw;
    box-shadow: -.3vw .3vw .4vw rgba(0, 0, 0, .75), 0vw 0vw .5vw .1vw white inset;

    /* cursor: pointer; */
    transition-duration: 0.4s;
}

.button:hover {
    /* background-color: rgb(41, 3, 41); */
    background-color: rgba(0, 0, 0, 0);
    color: rgb(41, 3, 41);
    /* color: white; */
}